<header>
    <div class="logo">
        <h1>Oh my Lordy</h1>
        <img src="/lordcologo.png" alt="logo">
    </div>
    <nav>
        <a href="https://thelordylord.com/">
            <img src="/home.gif" alt="Home">
        </a>
        <a href="https://thelordylord.com/Projects">
            <img src="/project.gif" alt="Projects">
        </a>
        <a href="https://thelordylord.com/fish">
            <img src="/fish.gif" alt="Fish">
        </a>
    </nav>
</header>
<div class="headerline"></div>